    /*
    Flaticon icon font: Flaticon
    Creation date: 26/09/2018 19:40
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-user:before { content: "\f100"; }
.flaticon-calendar:before { content: "\f101"; }
.flaticon-pin:before { content: "\f102"; }
.flaticon-phone:before { content: "\f103"; }
.flaticon-mail:before { content: "\f104"; }
.flaticon-print:before { content: "\f105"; }
.flaticon-download:before { content: "\f106"; }
.flaticon-behance:before { content: "\f107"; }
.flaticon-social:before { content: "\f108"; }
.flaticon-twitter:before { content: "\f109"; }
.flaticon-dribble-logo:before { content: "\f10a"; }
.flaticon-skype-logo:before { content: "\f10b"; }
.flaticon-portfolio:before { content: "\f10c"; }
.flaticon-layers:before { content: "\f10d"; }
.flaticon-photo:before { content: "\f10e"; }
.flaticon-rating:before { content: "\f10f"; }
.flaticon-chat:before { content: "\f110"; }
    
    $font-Flaticon-user: "\f100";
    $font-Flaticon-calendar: "\f101";
    $font-Flaticon-pin: "\f102";
    $font-Flaticon-phone: "\f103";
    $font-Flaticon-mail: "\f104";
    $font-Flaticon-print: "\f105";
    $font-Flaticon-download: "\f106";
    $font-Flaticon-behance: "\f107";
    $font-Flaticon-social: "\f108";
    $font-Flaticon-twitter: "\f109";
    $font-Flaticon-dribble-logo: "\f10a";
    $font-Flaticon-skype-logo: "\f10b";
    $font-Flaticon-portfolio: "\f10c";
    $font-Flaticon-layers: "\f10d";
    $font-Flaticon-photo: "\f10e";
    $font-Flaticon-rating: "\f10f";
    $font-Flaticon-chat: "\f110";