	/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/09/2018 19:40
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-user:before { content: "\f100"; }
.flaticon-calendar:before { content: "\f101"; }
.flaticon-pin:before { content: "\f102"; }
.flaticon-phone:before { content: "\f103"; }
.flaticon-mail:before { content: "\f104"; }
.flaticon-print:before { content: "\f105"; }
.flaticon-download:before { content: "\f106"; }
.flaticon-behance:before { content: "\f107"; }
.flaticon-social:before { content: "\f108"; }
.flaticon-twitter:before { content: "\f109"; }
.flaticon-dribble-logo:before { content: "\f10a"; }
.flaticon-skype-logo:before { content: "\f10b"; }
.flaticon-portfolio:before { content: "\f10c"; }
.flaticon-layers:before { content: "\f10d"; }
.flaticon-photo:before { content: "\f10e"; }
.flaticon-rating:before { content: "\f10f"; }
.flaticon-chat:before { content: "\f110"; }