<template>
  <div class="md-layout">
    <div class="md-layout">
      <div class="md-layout-item md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">
        <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
          <div class="carditem">
            <div class="google-maps">
              <iframe src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed" width="400" height="450" frameborder="0" style="border:0"></iframe>
            </div>
            <div class="infoCon">  
              <ul>
                <li><i class="fas fa-user"></i>&nbsp;&nbsp;<b>Name:&nbsp;&nbsp;</b>Allen Alex</li><br/><br/>
                <li><i class="fas fa-align-justify"></i>&nbsp;&nbsp;<b>Date of birth:&nbsp;&nbsp;</b>June 8, 1980</li><br/><br/>
                <li><i class="fab fa-linkedin-in"></i>&nbsp;&nbsp;<b>Address:&nbsp;&nbsp;</b>San Francisco CA 94105 USA</li><br/><br/>
                <li><i class="fab fa-github"></i>&nbsp;&nbsp;<b>Phone:&nbsp;&nbsp;</b>+1-222-333-4050</li><br/><br/>
                <li><i class="fab fa-twitter"></i>&nbsp;&nbsp;<b>Email:&nbsp;&nbsp;</b>themeforest@gmail.com</li><br/><br/>
              </ul>
            </div>  
          </div>
        </div>
        <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
          <div class="carditem">
            <div>
              <md-field>
                <label>Enter Your Name</label>
                <md-input v-model="initial"></md-input>
              </md-field>
              <md-field>
                <label>Company</label>
                <md-input v-model="initial"></md-input>
              </md-field>
                  <md-field>
                <label>Enter Your Email Address</label>
                <md-input v-model="initial"></md-input>
              </md-field>
                  <md-field>
                <label>Enter Your Phone Number</label>
                <md-input v-model="initial"></md-input>
              </md-field>
              <md-layout>
                <div class="md-layout-item md-medium-size-50 md-small-size-50 md-xsmall-size-50">
                  <md-checkbox v-model="array" value="1">Web design</md-checkbox>
                  <md-checkbox v-model="array" value="2">Graphic design</md-checkbox>
                  <md-checkbox v-model="array" value="3">UX Design</md-checkbox>
                </div>
                <div class="md-layout-item md-medium-size-50 md-small-size-50 md-xsmall-size-50">
                  <md-checkbox v-model="array" value="4">Game design</md-checkbox>
                  <md-checkbox v-model="array" value="5">Web Development</md-checkbox>
                  <md-checkbox v-model="array" value="6">UI Design</md-checkbox>
                </div>
              </md-layout>
              
                <md-field>
                <label>Textarea</label>
                <md-textarea v-model="textarea"></md-textarea>
              </md-field>
              <md-button class="md-raised md-primary">Submit</md-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--
  <section class="text-justify">
    <div class="container">
      <div class="row">
        <div id="box" class="col-md-justify">
          <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15642.404631398933!2d-85.82922239999999!3d11.436467799999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sni!4v1535756034746" width="600" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="infoCon">
            <ul>
            <li><i class="fas fa-user"></i>&nbsp;&nbsp;<b>Name:&nbsp;&nbsp;</b>Allen Alex</li><br/><br/>
            <li><i class="fas fa-align-justify"></i>&nbsp;&nbsp;<b>Title:&nbsp;&nbsp;</b>Lorem ipsum</li><br/><br/>
            <li><i class="fab fa-linkedin-in"></i>&nbsp;&nbsp;<b>Linkedin:&nbsp;&nbsp;</b>Allen Alex</li><br/><br/>
            <li><i class="fab fa-github"></i>&nbsp;&nbsp;<b>Github:&nbsp;&nbsp;</b>Allen Alex</li><br/><br/>
            <li><i class="fab fa-twitter"></i>&nbsp;&nbsp;<b>Twitter:&nbsp;&nbsp;</b>Allen Alex</li><br/><br/>
            <li><i class="fas fa-envelope"></i>&nbsp;&nbsp;<b>Email:&nbsp;&nbsp;</b>Allen Alex</li><br/>
          </ul>
          </div>
        </div>
        <div id="box" class="col-md">
          <div>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group id="exampleInputGroup2"
                    label="Your Name:"
                    label-for="exampleInput2">
        <b-form-input id="exampleInput2"
                      type="text"
                      v-model="form.name"
                      required
                      placeholder="Enter name">
        </b-form-input>
      </b-form-group>
      <b-form-group id="exampleInputGroup2"
                    label="Company:"
                    label-for="exampleInput2">
        <b-form-input id="exampleInput2"
                      type="text"
                      v-model="form.Company"
                      required
                      placeholder="Company">
        </b-form-input>
      </b-form-group>
      <b-form-group id="exampleInputGroup1"
                    label="Email address:"
                    label-for="exampleInput1"
                    description="We'll never share your email with anyone else.">
        <b-form-input id="exampleInput1"
                      type="email"
                      v-model="form.email"
                      required
                      placeholder="Enter email">
        </b-form-input>
      </b-form-group>
      <b-form-group id="exampleInputGroup2"
                    label="Phone number:"
                    label-for="exampleInput2">
        <b-form-input id="exampleInput2"
                      type="number"
                      v-model="form.phone"
                      required
                      placeholder="Enter your phone number">
        </b-form-input>
      </b-form-group>
      <b-form-group id="exampleGroup4">
        <b-form-checkbox-group v-model="form.checked" id="exampleChecks">
          <b-form-checkbox value="me">Web Design</b-form-checkbox>
          <b-form-checkbox value="that">Graphic Design</b-form-checkbox>
          <b-form-checkbox value="that">UX Design</b-form-checkbox>
          <b-form-checkbox value="that">Game Design</b-form-checkbox>
          <b-form-checkbox value="that">Web Development</b-form-checkbox>
          <b-form-checkbox value="that">UI Design</b-form-checkbox>
        </b-form-checkbox-group>
      </b-form-group>
      <b-form-group id="exampleGroup5">
        <b-form-textarea id="textarea1"
                     v-model="menssage"
                     required
                     placeholder="Write your message"
                     :rows="3"
                     :max-rows="6">
        </b-form-textarea>
      </b-form-group>
      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </div>
        </div>
      </div>
    </div>
  </section>
  -->

</template>
<script>
export default {
  name: 'Contact',
  data () {
    return {
       array: [],
      form: {
        email: '',
        name: '',
        Company: '',
        phone: '',
        menssage: '',
        food: null,
        checked: []
      },
      foods: [
        { text: 'Select One', value: null },
        'Carrots', 'Beans', 'Tomatoes', 'Corn'
      ],
      show: true
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      alert(JSON.stringify(this.form))
    },
    onReset (evt) {
      evt.preventDefault()
      /* Reset our form values */
      this.form.email = ''
      this.form.name = ''
      this.form.food = null
      this.form.checked = []
      /* Trick to reset/clear native browser form validation state */
      this.show = false
      this.$nextTick(() => { this.show = true })
    }
  }
}
</script>
<style scoped>
.google-maps {
        position: relative;
        padding-bottom: 50%; 
        height: 500;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 90% !important;
        height: 100% !important;
    }


#box{
  background: #ffffff;
}
section{
  margin-top: 40px;
  margin-bottom: 40px;
}
.info{
  margin-top: 40px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
  font-size: 15px;
}

i{
  color: rgb(0, 0, 0);
  font-size: 15px;
}
i:hover{
  color: burlywood;
}
.infoCon{
  margin-top: 40px;
}
</style>
