<template>
  <div class="md-layout">
        <div class="md-layout-item md-gutter md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">
            <md-tabs class="" md-alignment="centered">
              <md-tab class="ppal" id="tab-Past" @click="Past()" md-label="Past" ></md-tab>
              <md-tab id="tab-Upcoming" @click="Upcoming()" md-label="Upcoming"  ></md-tab>

            </md-tabs>
        </div>

    <md-layout class="md-layout">
      <md-layout class="md-layout-item md-gutter md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">
        <md-layout   v-if="w1" class="md-layout-item md-large-size-33 md-medium-size-33 md-small-size-100 md-xsmall-size-100">
          <div class="carditem container">
            <img class="image" src="./../assets/img/1.png"/>
            <div class="overlay">
              <div class="text">
                <h5>Hello World</h5>
                <h6>Lorem ipsum dolor sit amet, consetur adipiscing elit</h6>
                <button>Project datails</button>
                </div>
            </div>
          </div>
        </md-layout>
        <md-layout v-if="w2" class="md-layout-item md-large-size-33 md-medium-size-33 md-small-size-100 md-xsmall-size-100">
          <div class="carditem container">
            <img class="image" src="./../assets/img/2.png"/>
            <div class="overlay">
              <div class="text">
                <h5>Hello World</h5>
                <h6>Lorem ipsum dolor sit amet, consetur adipiscing elit</h6>
                <button>Project datails</button>
              </div>
            </div>
          </div>
        </md-layout>
        <md-layout v-if="w3" class="md-layout-item md-large-size-33 md-medium-size-33 md-small-size-100 md-xsmall-size-100">
          <div class="carditem container">
            <img class="image" src="./../assets/img/3.png"/>
            <div class="overlay">
              <div class="text">
                <h5>Hello World</h5>
                <h6>Lorem ipsum dolor sit amet, consetur adipiscing elit</h6>
                <button>Project datails</button>
              </div>
            </div>
          </div>
        </md-layout>

        <md-layout v-if="w4" class="md-layout-item md-large-size-33 md-medium-size-33 md-small-size-100 md-xsmall-size-100">
          <div class="carditem container">
            <img class="image" src="./../assets/img/5.png"/>
            <div class="overlay">
              <div class="text">
                <h5>Hello World</h5>
                <h6>Lorem ipsum dolor sit amet, consetur adipiscing elit</h6>
                <button>Project datails</button>
                </div>
            </div>
          </div>
        </md-layout>
        <md-layout v-if="w5" class="md-layout-item md-large-size-33 md-medium-size-33 md-small-size-100 md-xsmall-size-100">
          <div class="carditem container">
            <img class="image" src="./../assets/img/4.png"/>
            <div class="overlay">
              <div class="text">
                <h5>Hello World</h5>
                <h6>Lorem ipsum dolor sit amet, consetur adipiscing elit</h6>
                <button>Project datails</button>
              </div>
            </div>
          </div>
        </md-layout>
        <md-layout v-if="w6" class="md-layout-item md-large-size-33 md-medium-size-33 md-small-size-100 md-xsmall-size-100">
          <div class="carditem container">
            <img class="image" src="./../assets/img/6.png"/>
            <div class="overlay">
              <div class="text">
                <h5>Hello World</h5>
                <h6>Lorem ipsum dolor sit amet, consetur adipiscing elit</h6>
                <button>Project datails</button>
              </div>
            </div>
          </div>
        </md-layout>
      </md-layout>
    </md-layout>
  </div>
</template>
<script>
export default {
    data () {
        return {
        w1: true,
        w2: true,
        w3: true,
        w4: true,
        w5: true,
        w6: true
      }
  },
  name: 'Events',
  methods:{   
    Past () {
        this.w1 = true
        this.w2 = true
        this.w3 = true
        this.w4 = false
        this.w5 = false
        this.w6 = false
        console.log('allwork')
    },
    Upcoming () {
        this.w1 = false
        this.w2 = false
        this.w3 = false
        this.w4 = true
        this.w5 = true
        this.w6 = true
        console.log('animation')
    }
  },
}
</script>
<style lang="scss" scoped>
.md-ripple{
  padding:0px !important;

}
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(41, 36, 35,0.8);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
  
  h1{
    margin: 20px 0;
  }
</style>
