<template>
    <footer>
        <p class="text"><b>2018 Pencil. All rights reserved</b></p>
    </footer>
</template>
<script>
export default {
    name: 'Footer',
    data () {
        return {
            msg: 'Welcome to Your Vue.js App'
        }
    }
}
</script>

<style scoped>

</style>
