<template>
 <div class="md-layout">
   <div class="md-layout-item md-gutter md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">
    <h1>Biography</h1>
   </div>
   <div class="md-layout-item md-gutter md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">
     
    <p>This is a simple hero unit, a simple jumbotron-style component for
       calling extra attention to featured content or information.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum officiis dolores saepe quis quod iusto cum velit architecto! Consectetur, asperiores porro. Explicabo, voluptate beatae. Qui ducimus praesentium illum impedit perspiciatis?</p>
    <p>
      It uses utility classes for typography and spacing to space content
      out within the larger container.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum officiis dolores saepe quis quod iusto cum velit architecto! Consectetur, asperiores porro. Explicabo, voluptate beatae. Qui ducimus praesentium illum impedit perspiciatis?</p>
   </div>
 </div>
  
</template>
<script>
export default {
  name: 'MyHistory'
}
</script>
<style scoped>
</style>
