<template>
<div class="md-layout alg">
    <div id="container">
    <div id="inner" class="md-layout-item md-medium-size-42 md-small-size-100 md-xsmall-size-100">
      <img src="./../assets/fotoPerfil.png" width="90%"  alt="">
    </div>
    </div>
    <div class="md-layout-item md-medium-size-43 md-small-size-100 md-xsmall-size-100">
      <h1> <b> ALLEN ALEX</b></h1>
          <p class="sub">PROFESSIONAL UX DESIGNER</p>
          <ul>
            <li><i class="fas fa-user"></i>&nbsp;&nbsp;<b>Name:&nbsp;&nbsp;</b>Allen Alex</li><br/><br/>
            <li><i class="fas fa-align-justify"></i>&nbsp;&nbsp;<b>Title:&nbsp;&nbsp;</b>Lorem ipsum</li><br/><br/>
            <li><i class="fab fa-linkedin-in"></i>&nbsp;&nbsp;<b>Linkedin:&nbsp;&nbsp;</b>Allen Alex</li><br/><br/>
            <li><i class="fab fa-github"></i>&nbsp;&nbsp;<b>Github:&nbsp;&nbsp;</b>Allen Alex</li><br/><br/>
            <li><i class="fab fa-twitter"></i>&nbsp;&nbsp;<b>Twitter:&nbsp;&nbsp;</b>Allen Alex</li><br/><br/>
            <li><i class="fas fa-envelope"></i>&nbsp;&nbsp;<b>Email:&nbsp;&nbsp;</b>Allen Alex</li>
          </ul>
          <h4><i class="fas fa-circle"></i>&nbsp;<b>Objective</b></h4>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore etdolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen derit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
    </div>
    <br/>
</div>
</template>

<script>
export default {
  name: 'Profile',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  mounted () {
(function() {
  // Init
  var container = document.getElementById("container"),
      inner = document.getElementById("inner");

  // Mouse
  var mouse = {
    _x: 0,
    _y: 0,
    x: 0,
    y: 0,
    updatePosition: function(event) {
      var e = event || window.event;
      this.x = e.clientX - this._x;
      this.y = (e.clientY - this._y) * -3;
    },
    setOrigin: function(e) {
      this._x = e.offsetLeft + Math.floor(e.offsetWidth / 2);
      this._y = e.offsetTop + Math.floor(e.offsetHeight / 2);
    },
    show: function() {
      return "(" + this.x + ", " + this.y + ")";
    }
  };

  // Track the mouse position relative to the center of the container.
  mouse.setOrigin(container);

  //----------------------------------------------------

  var counter = 0;
  var refreshRate = 1;
  var isTimeToUpdate = function() {
    return counter++ % refreshRate === 0;
  };

  //----------------------------------------------------

  var onMouseEnterHandler = function(event) {
    update(event);
  };

  var onMouseLeaveHandler = function() {
    inner.style = "";
  };

  var onMouseMoveHandler = function(event) {
    if (isTimeToUpdate()) {
      update(event);
    }
  };

  //----------------------------------------------------

  var update = function(event) {
    mouse.updatePosition(event);
    updateTransformStyle(
      (mouse.y / inner.offsetHeight / 2).toFixed(2),
      (mouse.x / inner.offsetWidth / 2).toFixed(2)
    );
  };

  var updateTransformStyle = function(x, y) {
    var style = "rotateX(" + x + "deg) rotateY(" + y + "deg)";
    inner.style.transform = style;
    inner.style.webkitTransform = style;
    inner.style.mozTranform = style;
    inner.style.msTransform = style;
    inner.style.oTransform = style;
  };

  //--------------------------------------------------------

  container.onmousemove = onMouseMoveHandler;
  container.onmouseleave = onMouseLeaveHandler;
  container.onmouseenter = onMouseEnterHandler;
})();

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#container {
  perspective: 40px;
}

#inner {
  transition: transform 0.1s;
  -webkit-transition: transform 0.1s;
}
.alg{
  margin:0px !important
}
section{
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 5px;
  font-size: 15px;
}

i{
  color: rgb(0, 0, 0);
  font-size: 15px;
}
i:hover{
  color: burlywood;
}
img{
  border-radius: 3%;
}

h1{
  font-size: 50px;
  line-height: 50px;
  font-weight: 900;
  margin-bottom: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.sub{
  font-size: 20px;
}
h4{
  font-size: 20px;
}
.text{
  font-size: 17px;
}
</style>
