<template>
  <div class="md-layout">
    <div class="md-layout">
      <div class="md-layout-item md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">
        <div class="md-layout-item md-medium-size-33 md-small-size-100 md-xsmall-size-100">
          <div class="carditem">
            <img src="./../assets/icons/c1.jpg"/>
            <h2>Creative Design</h2>
            <p>ed ut perspiciatis unde omnis iste natuserror sit voluptatem accusantium doloremque laudantium, totam</p>
          </div>
        </div>
        <div class="md-layout-item md-medium-size-33 md-small-size-100 md-xsmall-size-100">
          <div class="carditem">
            <img src="./../assets/icons/c2.jpg"/>
            <h2>Web Design</h2>
            <p>ed ut perspiciatis unde omnis iste natuserror sit voluptatem accusantium doloremque laudantium, totam</p>
          </div>
        </div>
        <div class="md-layout-item md-medium-size-33 md-small-size-100 md-xsmall-size-100">
          <div class="carditem">
            <img src="./../assets/icons/c3.jpg"/>
            <h2>Interface Design</h2>
            <p>ed ut perspiciatis unde omnis iste natuserror sit voluptatem accusantium doloremque laudantium, totam</p>
          </div>
        </div>
      </div>

      <div class="md-layout-item md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">
        <div class="md-layout-item md-medium-size-33 md-small-size-100 md-xsmall-size-100">
          <div class="carditem">
            <img src="./../assets/icons/c4.jpg"/>
            <h2>App UI Design</h2>
            <p>ed ut perspiciatis unde omnis iste natuserror sit voluptatem accusantium doloremque laudantium, totam</p>
          </div>
        </div>
        <div class="md-layout-item md-medium-size-33 md-small-size-100 md-xsmall-size-100">
          <div class="carditem">
            <img src="./../assets/icons/c5.jpg"/>
            <h2>Print Production</h2>
            <p>ed ut perspiciatis unde omnis iste natuserror sit voluptatem accusantium doloremque laudantium, totam</p>
          </div>
        </div>
        <div class="md-layout-item md-medium-size-33 md-small-size-100 md-xsmall-size-100">
          <div class="carditem">
            <img src="./../assets/icons/c6.jpg"/>
            <h2>UX Design</h2>
            <p>ed ut perspiciatis unde omnis iste natuserror sit voluptatem accusantium doloremque laudantium, totam</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Projects'
}
</script>
<style scoped>
.carditem{
background-color: rgb(255, 255, 255);
-webkit-box-shadow: 0px 0px 26px 10px rgba(228,245,247,1);
-moz-box-shadow: 0px 0px 26px 10px rgba(228,245,247,1);
box-shadow: 0px 0px 26px 10px rgba(228,245,247,1);
}
.carditem:hover{
-webkit-box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
-moz-box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
}

img{
  margin-left: auto;
   margin-right: auto;
   display: block;
   padding:20px !important
  }

h2{
  text-align: center;
}
p{
  padding:20px
}
</style>
