<template>
  <div class="md-layout">
    <div class="md-layout ">
      <div class="md-layout-item md-gutter md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">
        <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
          <div>
            <h2><i class="material-icons">person</i>&nbsp;&nbsp;Education</h2>
            <br/>
            <div class="md-layout-item md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">      
              <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50">
                <h3>University Of Themeforest</h3>
              </div>
              <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50 textright">
                <h3>2012-2019</h3>
              </div>
            </div>
            <span><b>B.Sc In Computer Science</b></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
          </div>
          <div>
            <div class="md-layout-item md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">      
              <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50">
                <h3>University Of Graphicriver</h3>
              </div>
              <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50 textright">
                <h3>2014-2018</h3>
              </div>
            </div>
            <span><b>Diploma In Computer Science</b></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
          </div>
          <div>
            <div class="md-layout-item md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">      
              <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50">
                <h3>University Of Graphicriver</h3>
              </div>
              <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50 textright">
                <h3>2017-2020</h3>
              </div>
            </div>
            <span><b>Master In Graphic Design</b></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
          </div>
        </div>
        <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
          <h2><i class="material-icons md-48">computer</i>&nbsp;&nbsp;Profesional Skills</h2>
          <br/>
          <md-progress-bar md-mode="determinate" md-value="80"></md-progress-bar>
          <div class="md-layout-item md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">      
            <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50">
              <h3>Web Design</h3>
            </div>
            <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50 textright">
              <h3>80%</h3>
            </div>
          </div>
          <md-progress-bar  md-mode="determinate" md-value="90"></md-progress-bar>
          <div class="md-layout-item md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">      
            <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50">
              <h3>web Developer</h3>
            </div>
            <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50 textright">
              <h3>90%</h3>
            </div>
          </div>
          <md-progress-bar  md-mode="determinate" md-value="60"></md-progress-bar>
          <div class="md-layout-item md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">      
            <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50">
              <h3>Graphics Design</h3>
            </div>
            <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50 textright">
              <h3>60%</h3>
            </div>
          </div>
          <md-progress-bar  md-mode="determinate" md-value="80"></md-progress-bar>
          <div class="md-layout-item md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">      
            <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50">
              <h3>Digital Marketing</h3>
            </div>
            <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50 textright">
              <h3>80%</h3>
            </div>
          </div>
          <md-progress-bar  md-mode="determinate" md-value="50"></md-progress-bar>
          <div class="md-layout-item md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">      
            <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50">
              <h3>Software Development</h3>
            </div>
            <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50 textright">
              <h3>50%</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="md-layout-item md-gutter md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">
        <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
          <div>
            <h2><i class="material-icons">person</i>&nbsp;&nbsp;Employment</h2>
            <br/>
            <div class="md-layout-item md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">      
              <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50">
                <h3>University Of Themeforest</h3>
              </div>
              <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50 textright">
                <h3>2012-2019</h3>
              </div>
            </div>
            <span><b>B.Sc In Computer Science</b></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
          </div>
          <div>
            <div class="md-layout-item md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">      
              <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50">
                <h3>University Of Graphicriver</h3>
              </div>
              <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50 textright">
                <h3>2014-2018</h3>
              </div>
            </div>
            <span><b>Diploma In Computer Science</b></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
          </div>
          <div>
            <div class="md-layout-item md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">      
              <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50">
                <h3>University Of Graphicriver</h3>
              </div>
              <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50 textright">
                <h3>2017-2020</h3>
              </div>
            </div>
            <span><b>Master In Graphic Design</b></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
          </div>
        </div>
        <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
          <div>
            <h2><i class="material-icons">person</i>&nbsp;&nbsp;Certificates</h2>
            <br/>
            <div class="md-layout-item md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">      
              <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50">
                <h3>University Of Themeforest</h3>
              </div>
              <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50 textright">
                <h3>2012-2019</h3>
              </div>
            </div>
            <span><b>B.Sc In Computer Science</b></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
          </div>
          <div>
            <div class="md-layout-item md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">      
              <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50">
                <h3>University Of Graphicriver</h3>
              </div>
              <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50 textright">
                <h3>2014-2018</h3>
              </div>
            </div>
            <span><b>Diploma In Computer Science</b></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
          </div>
          <div>
            <div class="md-layout-item md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">      
              <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50">
                <h3>University Of Graphicriver</h3>
              </div>
              <div class="md-layout-item md-large-size-50 md-medium-size-33 md-small-size-50 md-xsmall-size-50 textright">
                <h3>2017-2020</h3>
              </div>
            </div>
            <span><b>Master In Graphic Design</b></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="md-layout md-medium-size-100">
      <div class="md-layout-item ">
        <div>
          <h2><i class="material-icons">person</i>&nbsp;&nbsp;Education</h2>
          <br/>
          <h3>University Of Themeforest</h3>
          <p>B.Sc In Computer Science</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
        </div>
        <div>
          <h3>University Of Themeforest</h3>
          <p>B.Sc In Computer Science</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
        </div>
        <div>
          <h3>University Of Themeforest</h3>
          <p>B.Sc In Computer Science</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
        </div>
      </div>
      <div class="md-layout-item">
        <h2><i class="material-icons md-48">computer</i>&nbsp;&nbsp;Profesional Skills</h2>
        <br/>
        <md-progress-bar md-mode="determinate" md-value="80"></md-progress-bar>
        <h3>web Design</h3>
        <md-progress-bar  md-mode="determinate" md-value="90"></md-progress-bar>
        <h3>web Developer</h3>
        <md-progress-bar  md-mode="determinate" md-value="60"></md-progress-bar>
        <h3>Graphics Design</h3>
        <md-progress-bar  md-mode="determinate" md-value="80"></md-progress-bar>
        <h3>Digital Marketing</h3>
        <md-progress-bar  md-mode="determinate" md-value="50"></md-progress-bar>
        <h3>Software Development</h3>
      </div>
    </div>
        <div class="md-layout md-medium-size-100">
      <div class="md-layout-item ">
        <div>
          <h2><i class="material-icons">person</i>&nbsp;&nbsp;Education</h2>
          <br/>
          <h3>University Of Themeforest</h3>
          <p>B.Sc In Computer Science</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
        </div>
        <div>
          <h3>University Of Themeforest</h3>
          <p>B.Sc In Computer Science</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
        </div>
        <div>
          <h3>University Of Themeforest</h3>
          <p>B.Sc In Computer Science</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
        </div>
      </div>
      <div class="md-layout-item">
        <h2><i class="material-icons md-48">computer</i>&nbsp;&nbsp;Profesional Skills</h2>
        <br/>
        <md-progress-bar md-mode="determinate" md-value="80"></md-progress-bar>
        <h3>web Design</h3>
        <md-progress-bar  md-mode="determinate" md-value="90"></md-progress-bar>
        <h3>web Developer</h3>
        <md-progress-bar  md-mode="determinate" md-value="60"></md-progress-bar>
        <h3>Graphics Design</h3>
        <md-progress-bar  md-mode="determinate" md-value="80"></md-progress-bar>
        <h3>Digital Marketing</h3>
        <md-progress-bar  md-mode="determinate" md-value="50"></md-progress-bar>
        <h3>Software Development</h3>
      </div>
    </div>-->
    
  </div>
  

</template>

<script>
export default {
  name: 'Resume',  
  data () {
    return {

    }
  }
}
</script>
<style scoped>
.textright{
  text-align:right;
}
.material-icons{
  color:black;
}
 md-progress-bar {
    width: 30px;
    height: 30px;
    
}
section{
  margin-top: 40px;
  margin-bottom: 40px;
}
i{
    color: white;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}
i:hover{
  -moz-transform:rotate(-360deg);
  -webkit-transform:rotate(-360deg);
  -o-transform:rotate(-360deg);
  -ms-transform:rotate(-360deg);
  transform:rotate(-360deg);
}
.list-group, .sectionLanguage{
  margin-top: 40px;
}
.list-group:hover{
  filter: opacity(.6);
}
.Titlebotom, .progres{
  margin-top: 40px;
}
.fa-star{
  font-size: 14px;
  color: #007bff;
}
.fa-star:hover{
  color: blue;
}
.badge{
  font-size: 18px;
}
</style>
