<template>
  <div class="md-layout">
    <div class="md-layout">
      <div class="md-layout-item md-gutter md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">
        <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
          <div class="carditem">
            <img src="./../assets/icons/circle.jpg"/>
            <p>“ Nissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati “</p>
            <h2>-Jhon Smith</h2>
            <h3>Interface Designer</h3>
            <br/>
          </div>
        </div>
        <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
          <div class="carditem">
            <img src="./../assets/icons/circle.jpg"/>
            <p>“ Nissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati “</p>
            <h2>-Jhon Smith</h2>
            <h3>Interface Designer</h3>
            <br/>
          </div>
        </div>
      </div>
      <div class="md-layout-item md-gutter md-layout md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100">
        <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
          <div class="carditem">
            <img src="./../assets/icons/circle.jpg"/>
            <p>“ Nissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati “</p>
            <h2>-Jhon Smith</h2>
            <h3>Interface Designer</h3>
            <br/>
          </div>
        </div>
        <div class="md-layout-item md-medium-size-50 md-small-size-100 md-xsmall-size-100">
          <div class="carditem">
            <img src="./../assets/icons/circle.jpg"/>
            <p>“ Nissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati “</p>
            <h2>-Jhon Smith</h2>
            <h3>Interface Designer</h3>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Talks',
  data () {
    return {

    }
  }
}
</script>
<style scoped>
.carditem{
background-color: rgb(255, 255, 255);
-webkit-box-shadow: 0px 0px 26px 10px rgba(228,245,247,1);
-moz-box-shadow: 0px 0px 26px 10px rgba(228,245,247,1);
box-shadow: 0px 0px 26px 10px rgba(228,245,247,1);
}
.carditem:hover{
-webkit-box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
-moz-box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
}

img{
  margin-left: auto;
   margin-right: auto;
   display: block;
   padding:30px !important
  }

h2,h3{
  text-align: center;
}
p{
  padding:20px
}
</style>
