<template>
  <div id="app">
    <md-app md-waterfall md-mode="fixed-center">

        <md-app-toolbar class="md-large md-dense bg ">
        <div class="toolmov">
        <div class="md-toolbar-row">
          <div class="md-toolbar-section-start">
            <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
              <md-icon>menu</md-icon>
            </md-button>
            <img class="alc" src="./assets/logo1.png" width="200">

          </div>
        </div>
        </div>

        <div class="toolweb bg">
          <div class="md-layout">
            <div class="md-layout-item md-small-size-100 md-medium-size-100  ">
              <img class="alc" src="./assets/logo1.png">
            </div>
            <div class="md-layout-item md-small-size-100 md-medium-size-100  ">
              <md-tabs class="" md-alignment="centered">
                <md-tab class="ppal" id="tab-Profile" to="/Profile" md-label="Profile" md-icon="face"></md-tab>
                <md-tab id="tab-Resume" to="/Resume"  md-label="Resume"  md-icon="list_alt"></md-tab>
                <md-tab id="tab-Mystory" to="/MyHistory"  md-label="My Story"  md-icon="list_alt"></md-tab>
                <md-tab id="tab-Projects" to="/Projects" md-label="Projects"  md-icon="layers"></md-tab>
                <md-tab id="tab-Portfolio" to="/Events" md-label="Events"  md-icon="insert_photo"></md-tab>
                <md-tab id="tab-Testimonial" to="/Talks" md-label="Talks/Workshops"  md-icon="group"></md-tab>
                <md-tab id="tab-Contact" to="/Contact" md-label="Contact"  md-icon="question_answer"></md-tab>
              </md-tabs>
            </div>
          </div>
        </div>
      </md-app-toolbar>

      <md-app-drawer :md-active.sync="menuVisible">
        <md-toolbar class="md-transparent" md-elevation="0"><b></b></md-toolbar>

        <md-list>
            <md-list-item  to="/Profile">Profile</md-list-item>
            <md-list-item  to="/Resume">Resume</md-list-item>
            <md-list-item  to="/MyHistory">My Story</md-list-item>
            <md-list-item  to="/Projects">Projects</md-list-item>
            <md-list-item  to="/Events">Events</md-list-item>
            <md-list-item  to="/Talks">Talks/Workshops</md-list-item>
            <md-list-item  to="/Contact">Contact</md-list-item>

         
        </md-list>
      </md-app-drawer>
      
<!--
      <md-app-toolbar class="md-large bg">
        <div class="md-toolbar-row">
          <div class="md-layout">
            <div class="md-layout-item md-small-size-100 md-medium-size-100  ">
              <img class="alc" src="./assets/logo1.png">
            </div>
            <div class="md-layout-item md-small-size-100 md-medium-size-100  ">
              <md-tabs class="" md-alignment="centered">
                <md-tab class="ppal" id="tab-Profile" to="/Profile" md-label="Profile" md-icon="face"></md-tab>
                <md-tab id="tab-Resume" to="/Resume"  md-label="Resume"  md-icon="list_alt"></md-tab>
                <md-tab id="tab-Mystory" to="/MyHistory"  md-label="My Story"  md-icon="list_alt"></md-tab>
                <md-tab id="tab-Projects" to="/Projects" md-label="Projects"  md-icon="layers"></md-tab>
                <md-tab id="tab-Portfolio" to="/Events" md-label="Events"  md-icon="insert_photo"></md-tab>
                <md-tab id="tab-Testimonial" to="/Talks" md-label="Talks/Workshops"  md-icon="group"></md-tab>
                <md-tab id="tab-Contact" to="/Contact" md-label="Contact"  md-icon="question_answer"></md-tab>
              </md-tabs>
            </div>
          </div>
        </div>
      </md-app-toolbar>-->

      <md-app-content>
          <transition name="slide" mode="out-in">
            <router-view/>
          </transition>
          <footer>
            <p class="textp"><b>2018 Pencil. All rights reserved</b></p>
          </footer>
    
      </md-app-content>
    </md-app>


      
  </div>
</template>

<script>

export default {
  name: 'App',
   data: () => ({
    menuVisible: false
  })

}
</script>

<style>
  .md-list {
    width: 320px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid rgba(#000, .12);
  }
@media only screen and (max-width: 768px) {
  .toolmov {
    display:block
  }
  .toolweb{
    display:none
  }
 }
@media only screen and (min-width: 768px) {
  .toolmov {
    display:none
  }
  
 }

.md-toolbar .md-tabs {
 padding-left: 0px !important;
}

.ppal{
  background-color: #ffe95d !important
}
.md-tab-icon{
  color:black !important
}
.md-tab-label{
  font-weight: bold;
  color:black
}
.text{
  margin:0 auto; display: inline-block
}
.textp{
  margin:0 auto; text-align: center
}
.bg{
  background-color: white !important
}
.md-tabs-navigation .md-icon-label {
    height: 100px;
}

a{
  color:black
}
a:hover{
  background-color:#ffe32c;
  color:black !important


}
.md-tabs + .md-tabs {
    margin-top: 24px;
  }

.alc{
  margin-left: auto;
   margin-right: auto;
   display: block;
   padding:30px !important
  }

#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  width: 80%;
  margin: auto;
  margin-top:100px;
  background-color:white !important;

}

html.md-theme-default{
  background-color: #f5fdff !important;
}

@media only screen and (max-width: 768px) {
  #app {
    width: 100%;
  }
 }

@media only screen and (min-width: 768px) {
  #app {
    width: 80%;
  }
 }


.navbar-dark .navbar-nav .nav-link{
  color: black;
}
.navbar-dark .navbar-brand{
  color: black;
  font-size: 30px;
}
  .slide-leave-active {
        transition: opacity 0.5s ease;
        opacity: 0;
        animation: slide-out 0.5s ease-out forwards;
    }

    .slide-leave {
        opacity: 1;
        transform: translateX(0);
    }

    .slide-enter-active {
        animation: slide-in 0.5s ease-out forwards;
    }

    @keyframes slide-out {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-30px);
        }
    }

    @keyframes slide-in {
        0% {
            transform: translateY(-30px);
        }
        100% {
            transform: translateY(0);
        }
    }

i{
  font-size: 30px;
}
footer{
  background:white ;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  align-content: center
}

</style>
